# Files related to the project
.gradle
.idea
.kotlin
!**/src/main/**/build/
!**/src/test/**/build/
build
out

# Files related to angular
node_modules
.angular

# Java Dependencies
*.jar
*.war
*.ear
*.iml

# Various
data/
testOut/
*.log

# macOS
# General
.DS_Store
.AppleDouble
.LSOverride

# Local Docker environment
.env
