# Files related to the project
.gradle
.idea
!**/src/main/**/build/
!**/src/test/**/build/
build
out

# Files related to angular
node_modules
.angular
openapi

# Java Dependencies
*.jar
*.war
*.ear
*.iml

# Various
data/
testOut/
*.log