<h1 mat-dialog-title i18n="@@HeadingCreateInstitution">Create / Edit User</h1>
<div mat-dialog-content>
  <form [formGroup]="formControl">
    <mat-form-field appearance="fill" [style.width]="'50%'">
      <mat-label i18n="@@LabelName">Username</mat-label>
      <input matInput type="text" formControlName="username">
      <mat-error *ngIf="formControl.get('name')?.hasError('minlength')">Minimum length is 4.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'20%'">
      <mat-label i18n="@@LabelRole">Role</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let role of (roles | async)" [value]="role">
          {{role}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="active" i18n="@@LabelPublish">
      Active
    </mat-checkbox>

    <mat-form-field appearance="fill" [style.width]="'50%'">
      <mat-label i18n="@@LabelName">E-Mail</mat-label>
      <input matInput type="text" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'50%'">
      <mat-label i18n="@@LabelInstitution">Institution</mat-label>
      <mat-select formControlName="institutionName">
        <mat-option *ngFor="let institution of (institutions | async)" [value]="institution">
          {{institution}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div formGroupName="password">
      <mat-form-field [style.width]="'100%'">
        <mat-label i18n="@@LabelPassword">Password:</mat-label>
        <input type="password" matInput placeholder="Minimum of 8 characters" formControlName="passwordFirst" />
        <mat-error *ngIf="formControl.get('password')?.get('passwordFirst')?.hasError('minlength')">Password must have at least 8 characters.</mat-error>
      </mat-form-field>

      <mat-form-field [style.width]="'100%'">
        <mat-label i18n="@@LabelPasswordRepeat">Password (repeat):</mat-label>
        <input type="password" matInput placeholder="Minimum of 8 characters" formControlName="passwordSecond"  />
        <mat-error *ngIf="formControl.get('password')?.hasError('notSame')">Passwords do not match.</mat-error>
      </mat-form-field>
    </div>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="save()">Save</button>
</div>