<h1 mat-dialog-title>{{ 'user.dialog.title' | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="formControl">
    <mat-form-field appearance="fill" [style.width]="'50%'">
      <mat-label>{{ 'common.label.username' | translate }}</mat-label>
      <input matInput type="text" formControlName="username">
      @if (formControl.get('name')?.hasError('minlength')) {
        <mat-error>{{ 'user.dialog.errors.usernameMinLength' | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'20%'">
      <mat-label>{{ 'common.label.role' | translate }}</mat-label>
      <mat-select formControlName="role">
        @for (role of this.roles(); track role) {
          <mat-option [value]="role">
            {{role}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="active">
      {{ 'common.label.active' | translate }}
    </mat-checkbox>

    <mat-form-field appearance="fill" [style.width]="'50%'">
      <mat-label>{{ 'common.label.email' | translate }}</mat-label>
      <input matInput type="text" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'50%'">
      <mat-label>{{ 'common.label.institution' | translate }}</mat-label>
      <mat-select formControlName="institution">
        @for (institution of this.institutions(); track institution.id) {
          <mat-option [value]="institution">
            {{ institution.name}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div formGroupName="password">
      <mat-form-field [style.width]="'100%'">
        <mat-label>{{ 'common.label.password' | translate }}</mat-label>
        <input type="password" matInput [placeholder]="'user.dialog.placeholders.passwordMinLength' | translate" formControlName="passwordFirst" />
        @if (this.formControl.get('password')?.hasError('notLongEnough')) {
          <mat-error>{{ 'user.dialog.errors.passwordTooShort' | translate }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field [style.width]="'100%'">
        <mat-label>{{ 'common.label.passwordRepeat' | translate }}</mat-label>
        <input type="password" matInput [placeholder]="'user.dialog.placeholders.passwordMinLength' | translate" formControlName="passwordSecond"  />
        @if (this.formControl.get('password')?.hasError('notSame')) {
          <mat-error>{{ 'user.dialog.errors.passwordMismatch' | translate }}</mat-error>
        }
      </mat-form-field>
    </div>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="save()">{{ 'common.action.save' | translate }}</button>
</div>