@if (this.imageUrl()) {
  @if (this.edit()) {
    <div class="image-container" (mouseenter)="this.showOverlay.set(true)" (mouseleave)="this.showOverlay.set(false)">
      <img [src]="this.imageUrl()" [width]="this.width()" [height]="this.height()" [style.object-fit]="'contain'" />
      @if (this.showOverlay()) {
        <div class="overlay" (click)="delete()">
          <mat-icon>delete</mat-icon>
        </div>
      }
    </div>
  } @else {
    <div class="image-container">
      <img [src]="this.imageUrl()" [width]="this.width()" [height]="this.height()" [style.object-fit]="'contain'" />
    </div>
  }
}