<h1 mat-dialog-title i18n="@@HeadingCreateCollection">Create Collection</h1>
<div mat-dialog-content>
    <form [formGroup]="formControl">
        <mat-form-field appearance="fill" [style.width]="'50%'">
            <mat-label i18n="@@LabelName">Name</mat-label>
            <input matInput type="text" formControlName="name">
            <mat-error *ngIf="formControl.get('name')?.hasError('minlength')">Minimum length is 10.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" [style.width]="'30%'">
            <mat-label i18n="@@LabelInstitution">Institution</mat-label>
            <mat-select formControlName="institutionName">
                <mat-option *ngFor="let institution of (institutionNames | async)" [value]="institution">
                    {{ institution }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-checkbox formControlName="publish" i18n="@@LabelPublish">
            Publish
        </mat-checkbox>

        <mat-form-field appearance="fill" [style.width]="'100%'">
            <mat-label i18n="@@LabelDisplayName">Display Name</mat-label>
            <input matInput type="text" formControlName="displayName">
            <mat-error *ngIf="formControl.get('displayName')?.hasError('minlength')">Minimum length is 10.</mat-error>
        </mat-form-field>

        <div formArrayName="filters">
            <div *ngFor="let filter of filters; let i = index" >
                <mat-form-field appearance="fill" [style.width]="'85%'">
                    <mat-label i18n="@@LabelFilter">Filter</mat-label>
                    <input matInput type="text" [formControl]="filter">
                </mat-form-field>
                <button *ngIf="i == filters.length - 1" mat-icon-button (click)="addFilter()">
                    <mat-icon>add</mat-icon>
                </button>
                <button *ngIf="filters.length > 1" mat-icon-button (click)="removeFilter(i)">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
        </div>

        <mat-form-field appearance="fill" [style.width]="'100%'">
            <mat-label i18n="@@LabelDescription">Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

        <hr *ngIf="images.length > 0"/>

        <div *ngIf="collectionId" class="image-gallery">
            <kiar-collection-image *ngFor="let image of images" [collectionId]="collectionId" [name]="image" [edit]="true"></kiar-collection-image>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button color="primary" (click)="save()">
        <mat-icon>save</mat-icon>
        Save
    </button>
    <button *ngIf="collectionId" mat-button (click)="uploadImage()">
        <mat-icon>upload</mat-icon>
        Upload Image
    </button>
</div>