<h1 mat-dialog-title>{{ (collectionId ? 'collection.dialog.title.edit' : 'collection.dialog.title.create') | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="formControl">
    <mat-form-field appearance="fill" [style.width]="'50%'">
      <mat-label>{{ 'common.label.name' | translate }}</mat-label>
      <input matInput type="text" formControlName="name">
      @if (this.formControl.get('name')?.hasError('minlength')) {
        <mat-error>{{ 'collection.dialog.errors.minLength' | translate:{length: 5} }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'30%'">
      <mat-label>{{ 'common.label.institution' | translate }}</mat-label>
      <mat-select formControlName="institution">
        @for (institution of this.institutions(); track institution.id) {
          <mat-option [value]="institution">
            {{ institution.name }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="publish">
            {{ 'common.label.publish' | translate }}
        </mat-checkbox>

    <mat-form-field appearance="fill" [style.width]="'100%'">
      <mat-label>{{ 'common.label.displayName' | translate }}</mat-label>
      <input matInput type="text" formControlName="displayName">
      @if (formControl.get('displayName')?.hasError('minlength')) {
        <mat-error>{{ 'collection.dialog.errors.minLength' | translate:{length: 5} }}</mat-error>
      }
    </mat-form-field>

    <div formArrayName="filters">
      @for (filter of this.filters; track filter; let i = $index) {
        <div >
          <mat-form-field appearance="fill" [style.width]="'85%'">
            <mat-label>{{ 'common.label.filter' | translate }}</mat-label>
            <input matInput type="text" [formControl]="filter">
          </mat-form-field>
          @if (i == this.filters.length - 1) {
            <button mat-icon-button (click)="addFilter()" [attr.aria-label]="'collection.dialog.tooltips.addFilter' | translate">
              <mat-icon>add</mat-icon>
            </button>
          }
          @if (this.filters.length > 1) {
            <button mat-icon-button (click)="removeFilter(i)" [attr.aria-label]="'collection.dialog.tooltips.removeFilter' | translate">
              <mat-icon>remove</mat-icon>
            </button>
          }
        </div>
      }
    </div>

    <mat-form-field appearance="fill" [style.width]="'100%'">
      <mat-label>{{ 'common.label.description' | translate }}</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    @if (this.images.length > 0) {
      <hr/>
    }

    @if (this.collectionId) {
      <div class="image-gallery">
        @for (image of this.images; track image) {
          <kiar-collection-image [collectionId]="this.collectionId" [name]="image" [edit]="true"></kiar-collection-image>
        }
      </div>
    }
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="save()">
    <mat-icon>save</mat-icon>
    {{ 'common.action.save' | translate }}
  </button>
  @if (this.collectionId) {
    <button mat-button (click)="uploadImage()">
      <mat-icon>upload</mat-icon>
      {{ 'common.action.uploadImage' | translate }}
    </button>
  }
</div>