<h1 mat-dialog-title i18n="@@HeadingCreateInstitution">Create Institution </h1>
<div mat-dialog-content>
  <form [formGroup]="formControl">
    <mat-form-field appearance="fill" [style.width]="'50%'">
      <mat-label i18n="@@LabelName">Name</mat-label>
      <input matInput type="text" formControlName="name">
      <mat-error *ngIf="formControl.get('name')?.hasError('minlength')">Minimum length is 10.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'20%'">
      <mat-label i18n="@@LabelParticipant">Participant</mat-label>
      <mat-select formControlName="participantName">
        <mat-option *ngFor="let participant of (participants | async)" [value]="participant">
          {{participant}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'20%'">
      <mat-label i18n="@@LabelCanton">Canton</mat-label>
      <mat-select formControlName="canton">
        <mat-option *ngFor="let canton of (cantons | async)" [value]="canton.longName">
          {{canton.longName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="publish" i18n="@@LabelPublish">
      Publish
    </mat-checkbox>

    <mat-form-field appearance="fill" [style.width]="'70%'">
      <mat-label i18n="@@LabelDisplayName">Display Name</mat-label>
      <input matInput type="text" formControlName="displayName">
      <mat-error *ngIf="formControl.get('displayName')?.hasError('minlength')">Minimum length is 10.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'30%'">
      <mat-label i18n="@@LabelImageName">Image Name</mat-label>
      <input matInput type="text" formControlName="imageName" [disabled]="true">
      <mat-icon matSuffix (click)="uploadImage()">upload</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'100%'">
      <mat-label i18n="@@LabelDescription">Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-tab-group>
      <mat-tab label="Contact" i18n-label="@@LabelContact">
        <mat-form-field appearance="fill" [style.width]="'50%'">
          <mat-label i18n="@@LabelStreet">Street</mat-label>
          <input matInput formControlName="street">
        </mat-form-field>

        <mat-form-field appearance="fill" [style.width]="'10%'">
          <mat-label i18n="@@LabelZip">Zip</mat-label>
          <input matInput type="number" formControlName="zip">
        </mat-form-field>

        <mat-form-field appearance="fill" [style.width]="'20%'">
          <mat-label i18n="@@LabelCity">City</mat-label>
          <input matInput formControlName="city">
        </mat-form-field>


        <mat-form-field appearance="fill" [style.width]="'10%'">
          <mat-label i18n="@@LabelCity">Longitude</mat-label>
          <input matInput formControlName="longitude" type="number">
        </mat-form-field>

        <mat-form-field appearance="fill" [style.width]="'10%'">
          <mat-label i18n="@@LabelCity">Latitude</mat-label>
          <input matInput formControlName="latitude" type="number">
        </mat-form-field>

        <mat-form-field appearance="fill" [style.width]="'50%'">
          <mat-label i18n="@@LabelEmail">E-Mail</mat-label>
          <input matInput type="email" formControlName="email">
          <mat-error *ngIf="formControl.get('email')?.hasError('email')">Must be a valid e-mail address.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" [style.width]="'50%'">
          <mat-label i18n="@@LabelHomepage">Homepage</mat-label>
          <input matInput type="url" formControlName="homepage">
        </mat-form-field>
      </mat-tab>
      <mat-tab label="Publication Defaults" i18n-label="@@LabelPublicationDefaults">
        <mat-form-field appearance="fill" [style.width]="'30%'">
          <mat-label i18n="@@LabelDefaultRightStatement">Default Right Statement</mat-label>
          <mat-select formControlName="defaultRightStatement">
            <mat-option *ngFor="let rightStatement of (rightStatements | async)" [value]="rightStatement.shortName">
              {{rightStatement.longName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" [style.width]="'70%'">
          <mat-label i18n="@@LabelDefaultCopyright">Default Copyright</mat-label>
          <input matInput type="text" formControlName="defaultCopyright">
        </mat-form-field>

        <mat-form-field appearance="fill" [style.width]="'100%'">
          <mat-label i18n="@@LabelDefaultObjectUrl">Default Object URL</mat-label>
          <input matInput type="text" formControlName="defaultObjectUrl">
        </mat-form-field>
      </mat-tab>

      <!-- Tab of available collections (admin only).  -->
      <mat-tab label="Available Collections" i18n-label="@@LabelAvailableCollections">
        <ul formArrayName="availableCollections" class="checkbox-list">
          <li *ngFor="let option of availableCollectionsForms; let i = index">
            <mat-checkbox [formControl]="option">
              {{allCollections[i].displayName}}
            </mat-checkbox>
          </li>
        </ul>
      </mat-tab>

      <!-- Tab of selected collections -->
      <mat-tab label="Published Collections" i18n-label="@@LabelPublishedCollections">
        <ul formArrayName="selectedCollections" class="checkbox-list">
          <li *ngFor="let option of selectedCollectionsForms; let i = index">
            <mat-checkbox [formControl]="option">
              {{availableCollections[i].displayName}}
            </mat-checkbox>
          </li>
        </ul>
      </mat-tab>
    </mat-tab-group>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="save()">Save</button>
</div>