<h1 i18n="@@HeadingInstitutions">Institutions
  <button mat-mini-fab color="primary" (click)="add()" i18n-matTooltip="@@TooltipAddNewInstitutions" matTooltip="Add a new institution.">
    <mat-icon>add</mat-icon>
  </button>
  &nbsp;
  <button mat-mini-fab [matMenuTriggerFor]="menu" i18n-matTooltip="@@TooltipSyncWithSolr" matTooltip="Synchronize with Apache Solr.">
    <mat-icon>sync</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class=".collection-menu">
    <button *ngFor="let collection of (collections|async)" mat-menu-item (click)="synchronize(collection[0], collection[1])">{{collection[1]}} ({{collection[0]}})</button>
  </mat-menu>
</h1>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <!-- Image Column -->
  <ng-container matColumnDef="name" i18n="@@Image">
    <th mat-header-cell *matHeaderCellDef> Image </th>
    <td mat-cell *matCellDef="let element">
      <img [src]="image(element.id) | async" width="100" height="100" alt="Image"/>
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name" i18n="@@LabelName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name."> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Display Name Column -->
  <ng-container matColumnDef="displayName" i18n="@@LabelDisplayName" >
    <th mat-header-cell *matHeaderCellDef > Display Name </th>
    <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="participant" i18n="@@LabelParticipant">
    <th mat-header-cell *matHeaderCellDef> Participant </th>
    <td mat-cell *matCellDef="let element"> {{element.participantName}} </td>
  </ng-container>

  <!-- Symbol Street -->
  <ng-container matColumnDef="street" i18n="@@LabelStreet">
    <th mat-header-cell *matHeaderCellDef > Street </th>
    <td mat-cell *matCellDef="let element"> {{element.street}} </td>
  </ng-container>

  <!-- Symbol City -->
  <ng-container matColumnDef="city" i18n="@@LabelCity">
    <th mat-header-cell *matHeaderCellDef> City </th>
    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
  </ng-container>

  <!-- Symbol Zip -->
  <ng-container matColumnDef="zip" i18n="@@LabelZip">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by zip."> City </th>
    <td mat-cell *matCellDef="let element"> {{element.zip}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="canton" i18n="@@LabelCanton">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by canton."> Canton </th>
    <td mat-cell *matCellDef="let element"> {{element.canton}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef i18n="@@LabelEmail"> E-Mail </th>
    <td mat-cell *matCellDef="let element"> <a href="{{element.email}}">{{element.email}}</a> </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef i18n="@@LabelEmail"> Action </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="primary" (click)="edit(element)" matTooltip="Edit institution {{element.id}}."><mat-icon>edit</mat-icon></button>
      <button mat-icon-button color="warn" (click)="delete(element)" matTooltip="Delete institution {{element.id}}."><mat-icon>delete</mat-icon></button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="dataSource.totalSize" [pageSize]="15" [pageSizeOptions]="[15, 25, 50, 100]"></mat-paginator>