<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="data.form">
    <mat-form-field appearance="fill" [style.width]="'100%'">
      <mat-label i18n="@@Source">Source</mat-label>
      <input matInput type="text" required formControlName="source">
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'100%'">
      <mat-label i18n="@@LabelDestination">Destination</mat-label>
      <input matInput type="text" formControlName="destination">
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'50%'">
      <mat-label i18n="@@LabelParser">Parser</mat-label>
      <mat-select formControlName="parser">
        <mat-option *ngFor="let parser of (parsers | async)" [value]="parser">
          {{parser}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="required">
      Required
    </mat-checkbox>

    <mat-checkbox formControlName="multiValued">
      Multi-valued
    </mat-checkbox>

    <h2>Parameters
      <button mat-mini-fab color="primary" (click)="addParameter()" i18n-matTooltip="@@TooltipAddParameter" matTooltip="Add a new parameter.">
        <mat-icon>add</mat-icon>
      </button>
    </h2>

    <table [style.width]="'100%'">
      <thead>
        <th i18n="@@LabelKey">Key</th>
        <th i18n="@@LabelKey">Value</th>
        <th>&nbsp;</th>
      </thead>
      <tbody>
        <tr *ngFor="let parameterForm of parameterForms?.controls; let i = index" [formGroup]="parameterForm">
          <td [style.width]="'15%'">
            <mat-form-field appearance="fill" [style.width]="'100%'">
              <mat-label>Key</mat-label>
              <input matInput type="text" formControlName="key">
            </mat-form-field>
          </td>
          <td [style.width]="'75%'">
            <mat-form-field appearance="fill" [style.width]="'100%'">
              <mat-label>Value</mat-label>
              <input matInput type="text" formControlName="value">
            </mat-form-field>
          </td>
          <td [style.padding-bottom]="'25px'">
            <button mat-icon-button (click)="removeParameter(i)" color="warn" i18n-matTooltip="@@TooltipRemoveParameter" matTooltip="Remove parameter."><mat-icon>delete</mat-icon></button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="close()">Save</button>
</div>