<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="data.form">
    <mat-form-field appearance="fill" [style.width]="'100%'">
      <mat-label>{{ 'common.label.source' | translate }}</mat-label>
      <input matInput type="text" required formControlName="source">
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'100%'">
      <mat-label>{{ 'common.label.destination' | translate }}</mat-label>
      <input matInput type="text" formControlName="destination">
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'50%'">
      <mat-label>{{ 'common.label.parser' | translate }}</mat-label>
      <mat-select formControlName="parser">
        @for (parser of this.parsers(); track parser) {
          <mat-option [value]="parser">
            {{parser}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="required">
      {{ 'common.label.required' | translate }}
    </mat-checkbox>

    <mat-checkbox formControlName="multiValued">
      {{ 'common.label.multiValued' | translate }}
    </mat-checkbox>

    <h2>{{ 'common.label.parameters' | translate }}
      <button mat-mini-fab color="primary" (click)="addParameter()" [matTooltip]="'admin.attributeMapping.tooltips.addParameter' | translate">
        <mat-icon>add</mat-icon>
      </button>
    </h2>

    <table [style.width]="'100%'">
      <thead>
        <th>{{ 'common.label.key' | translate }}</th>
        <th>{{ 'common.label.value' | translate }}</th>
        <th>&nbsp;</th>
      </thead>
      <tbody>
        @for (parameterForm of this.parameterForms.controls; track parameterForm; let i = $index) {
          <tr [formGroup]="parameterForm">
            <td [style.width]="'15%'">
              <mat-form-field appearance="fill" [style.width]="'100%'">
                <mat-label>{{ 'common.label.key' | translate }}</mat-label>
                <input matInput type="text" formControlName="key">
              </mat-form-field>
            </td>
            <td [style.width]="'75%'">
              <mat-form-field appearance="fill" [style.width]="'100%'">
                <mat-label>{{ 'common.label.value' | translate }}</mat-label>
                <input matInput type="text" formControlName="value">
              </mat-form-field>
            </td>
            <td [style.padding-bottom]="'25px'">
              <button mat-icon-button (click)="removeParameter(i)" color="warn" [matTooltip]="'admin.attributeMapping.tooltips.removeParameter' | translate"><mat-icon>delete</mat-icon></button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="close()">{{ 'common.action.save' | translate }}</button>
</div>