<form [formGroup]="formControl">

  <h1>Edit Entity Mapping (ID: {{mappingId | async}})</h1>

  <div id="main" [style.display]="'flex'">
    <mat-form-field appearance="fill" [style.width]="'15%'">
      <mat-label>Name</mat-label>
      <input matInput type="text" required formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'25%'">
      <mat-label>Description</mat-label>
      <input matInput type="textarea" formControlName="description">
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'10%'">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let format of (mappingFormats | async)" [value]="format">
          {{format}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="button-group" [style.margin-top]="'10px'">
      <button mat-raised-button color="primary" matTooltip="Saves all changes made to this entity mapping." (click)="save()">
        Save
      </button>
      <button mat-raised-button matTooltip="Reloads this entity mapping, reverting all unsaved changes."  (click)="refresh()">
        Reload
      </button>
      <button mat-raised-button matTooltip="Downloads this entity mapping as JSON." (click)="download()">
        Download
      </button>
      <button mat-raised-button color="warn" matTooltip="Deletes this entity mapping." (click)="delete()">
        Delete
      </button>
    </div>
  </div>

  <h2>Attribute Mappings ({{attributes.length}})
    <button mat-mini-fab color="primary" aria-label="Adds a new attribute mapping to this entity mapping." (click)="addAttributeMapping()">
      <mat-icon>add</mat-icon>
    </button>
  </h2>

  <table formArrayName="attributes" [style.width]="'100%'">
    <thead>
    <tr>
      <th  [style.width]="'10%'">&nbsp;</th>
      <th i18n="@@LabelSource" [style.width]="'55%'">Source</th>
      <th i18n="@@LabelDestination" [style.width]="'15%'">Destination</th>
      <th i18n="@@LabelParser" [style.width]="'10%'">Parser</th>
      <th i18n="@@LabelRequired"  [style.width]="'5%'">Required</th>
      <th i18n="@@LabelMultiValued" [style.width]="'5%'">Multi-Valued</th>

    </tr>
    </thead>

    <!-- Source Column -->
    <tr *ngFor="let e of attributes.controls; let i = index" [formGroup]="e">
      <td [style.padding-bottom]="'25px'">
        <button mat-icon-button matTooltip="Move attribute mapping upwards." (click)="moveAttributeMapping(i, i - 1)"><mat-icon>arrow_upward</mat-icon></button>
        <button mat-icon-button matTooltip="Move attribute mapping downwards."  (click)="moveAttributeMapping(i, i + 1)"><mat-icon>arrow_downward</mat-icon></button>
        <button mat-icon-button matTooltip="Edit attribute mapping." (click)="editAttributeMapping(i)" color="primary"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button matTooltip="Remove attribute mapping." (click)="removeAttributeMapping(i)" color="warn"><mat-icon>delete</mat-icon></button>
      </td>

      <td>
        <mat-form-field appearance="fill" [style.width]="'100%'">
          <mat-label i18n="@@LabelSource">Source</mat-label>
          <input matInput type="text" formControlName="source"/>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field appearance="fill" [style.width]="'100%'">
          <mat-label i18n="@@LabelDestination">Destination</mat-label>
          <input matInput type="text" formControlName="destination"/>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field appearance="fill" [style.width]="'100%'">
          <mat-label i18n="@@LabelParser">Parser</mat-label>
          <mat-select formControlName="parser">
            <mat-option *ngFor="let parser of (parsers | async)" [value]="parser">
              {{parser}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </td>

      <td [style.padding-bottom]="'25px'" [style.text-align]="'center'">
        <mat-checkbox formControlName="required"></mat-checkbox>
      </td>

      <td [style.padding-bottom]="'25px'" [style.text-align]="'center'">
        <mat-checkbox formControlName="multiValued"></mat-checkbox>
      </td>
    </tr>
  </table>
</form>