<form [formGroup]="formControl">

  <h1>Edit Entity Mapping (ID: {{mappingId | async}})</h1>

  <div id="main" [style.display]="'flex'">
    <mat-form-field appearance="fill" [style.width]="'15%'">
      <mat-label>Name</mat-label>
      <input matInput type="text" required formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'25%'">
      <mat-label>Description</mat-label>
      <input matInput type="textarea" formControlName="description">
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'10%'">
      <mat-label>Type</mat-label>
      <select matNativeControl required formControlName="type">
        <option value="XML">XML</option>
        <option value="JSON">JSON</option>
      </select>
    </mat-form-field>

    <div class="button-group" [style.margin-top]="'10px'">
      <button mat-raised-button color="primary" matTooltip="Saves all changes made to this entity mapping." (click)="save()">
        Save
      </button>
      <button mat-raised-button matTooltip="Reloads this entity mapping, reverting all unsaved changes."  (click)="refresh()">
        Reload
      </button>
      <button mat-raised-button color="warn" matTooltip="Deletes this entity mapping." (click)="delete()">
        Delete
      </button>
    </div>
  </div>

  <h2>Attribute Mappings ({{attributes.length}})
    <button mat-mini-fab color="primary" aria-label="Adds a new attribute mapping to this entity mapping." (click)="addAttributeMapping()">
      <mat-icon>add</mat-icon>
    </button>
  </h2>

  <table formArrayName="attributes" [style.width]="'100%'">
    <thead>
    <tr>
      <th i18n="@@LabelSource" [style.width]="'50%'">Source</th>
      <th i18n="@@LabelDestination" [style.width]="'20%'">Destination</th>
      <th i18n="@@LabelParser" [style.width]="'10%'">Parser</th>
      <th i18n="@@LabelRequired"  [style.width]="'5%'">Required</th>
      <th i18n="@@LabelMultiValued" [style.width]="'5%'">Multi-Valued</th>
      <th  [style.width]="'10%'">&nbsp;</th>
    </tr>
    </thead>

    <!-- Source Column -->
    <tr *ngFor="let e of attributes; let i = index" [formGroupName]="i">
      <td>
        <mat-form-field appearance="fill" [style.width]="'100%'">
          <mat-label i18n="@@LabelSource">Source</mat-label>
          <input matInput type="text" formControlName="source"/>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field appearance="fill" [style.width]="'100%'">
          <mat-label i18n="@@LabelDestination">Destination</mat-label>
          <input matInput type="text" formControlName="destination"/>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field appearance="fill" [style.width]="'100%'">
          <mat-label i18n="@@LabelParser">Parser</mat-label>
          <mat-select formControlName="parser">
            <mat-option *ngFor="let parser of (parsers | async)" [value]="parser">
              {{parser}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </td>

      <td>
        <mat-checkbox formControlName="required"></mat-checkbox>
      </td>

      <td>
        <mat-checkbox formControlName="multiValued"></mat-checkbox>
      </td>

      <td>
        <button mat-icon-button (click)="editAttributeMapping(i)" color="primary"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button (click)="removeAttribute(i)" color="warn"><mat-icon>delete</mat-icon></button>
      </td>
    </tr>
  </table>
</form>