<form [formGroup]="formControl">

  <h1>Job Template (ID: {{templateId | async}})</h1>

  <div class="main">
    <mat-form-field appearance="fill" [style.width]="'20%'">
      <mat-label i18n="@@LabelName">Name</mat-label>
      <input matInput type="text" required formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'5%'">
      <mat-label i18n="@@LabelType">Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of (jobTypes | async)" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'10%'">
      <mat-label i18n="@@LabelParticipant">Participant</mat-label>
      <mat-select formControlName="participantName">
        <mat-option *ngFor="let participant of (participants | async)" [value]="participant">
          {{participant}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'15%'">
      <mat-label i18n="@@LabelEntityMapping">Entity Mapping</mat-label>
      <mat-select formControlName="entityMappingName">
        <mat-option *ngFor="let mapping of (mappings | async)" [value]="mapping.name">
          {{mapping.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'15%'">
      <mat-label i18n="@@ApacheSolrConfig">Apache Solr Config</mat-label>
      <mat-select formControlName="solrConfigName">
        <mat-option *ngFor="let config of (solr | async)" [value]="config.name">
          {{config.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div [style.margin-top]="'10px'">
      <mat-checkbox formControlName="startAutomatically" i18n="@@LabelStartAutomatically">
        Start automatically
      </mat-checkbox>
    </div>

    <div class="button-group" [style.margin-top]="'10px'">
      <button mat-raised-button color="primary" i18n="@@ButtonSave" matTooltip="Saves all changes made to this entity mapping." (click)="save()">
        Save
      </button>
      <button mat-raised-button i18n="@@ButtonReload" matTooltip="Reloads this entity mapping, reverting all unsaved changes."  (click)="refresh()">
        Reload
      </button>
      <button mat-raised-button color="warn"  i18n="@@ButtonDelete" matTooltip="Deletes this entity mapping." (click)="delete()">
        Delete
      </button>
    </div>


  </div>

  <mat-form-field appearance="fill" [style.width]="'100%'">
    <mat-label i18n="@@LabelDescription">Description</mat-label>
    <textarea matInput type="textarea" formControlName="description"></textarea>
  </mat-form-field>


  <h2>Transformers
    <button mat-mini-fab color="primary" aria-label="Adds a new transformer to this job template." (click)="addTransformer()">
      <mat-icon>add</mat-icon>
    </button>
  </h2>

  <table formArrayName="transformers">
    <thead>
    <tr>
      <th>&nbsp;</th>
      <th i18n="@@LabelTransformerName">Transformer Name</th>
      <th i18n="@@LabelParameters">Parameters</th>
    </tr>
    </thead>
    <tr *ngFor="let t of transformers.controls; let i = index" [formGroup]="t">
      <td [style.padding-bottom]="'25px'" [style.width]="'250px'">
        <button mat-icon-button matTooltip="Move transformer upwards." (click)="moveTransformer(i, i - 1)"><mat-icon>arrow_upward</mat-icon></button>
        <button mat-icon-button matTooltip="Move transformer downwards."  (click)="moveTransformer(i, i + 1)"><mat-icon>arrow_downward</mat-icon></button>
        <button mat-icon-button matTooltip="Edit transformer parameters." color="primary" (click)="editTransformer(i)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button matTooltip="Remove transformer." color="warn" (click)="removeTransformer(i)"><mat-icon>delete</mat-icon></button>
      </td>

      <td [style.min-width]="'300px'">
        <mat-form-field appearance="fill" [style.width]="'100%'">
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of (transformerTypes | async)" [value]="type">
              {{type}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td [style.color]="'#888888'">
        {{stringForAttributes(t)}}
      </td>
    </tr>
  </table>
</form>