<form [formGroup]="formControl">

  <h1>{{ 'admin.jobTemplate.title' | translate:{id: this.templateId()} }}</h1>

  <div class="main">
    <mat-form-field appearance="fill" [style.width]="'20%'">
      <mat-label>{{ 'common.label.name' | translate }}</mat-label>
      <input matInput type="text" required formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'5%'">
      <mat-label>{{ 'common.label.type' | translate }}</mat-label>
      <mat-select formControlName="type">
        @for (type of this.jobTypes(); track type) {
          <mat-option [value]="type">
            {{type}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'10%'">
      <mat-label>{{ 'common.label.participant' | translate }}</mat-label>
      <mat-select formControlName="participantName">
        @for (participant of this.participants(); track participant) {
          <mat-option [value]="participant">
            {{participant}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'15%'">
      <mat-label>{{ 'admin.jobTemplate.labels.entityMapping' | translate }}</mat-label>
      <mat-select formControlName="mapping">
        @for (mapping of this.mappings(); track mapping.id) {
          <mat-option [value]="mapping">
            {{mapping.name}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'15%'">
      <mat-label>{{ 'admin.jobTemplate.labels.solrConfig' | translate }}</mat-label>
      <mat-select formControlName="config">
        @for (config of this.solr(); track config.id) {
          <mat-option [value]="config">
            {{config.name}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div [style.margin-top]="'10px'">
      <mat-checkbox formControlName="startAutomatically">
        {{ 'admin.jobTemplate.labels.startAutomatically' | translate }}
      </mat-checkbox>
    </div>

    <div class="button-group" [style.margin-top]="'10px'">
      <button mat-raised-button color="primary" [matTooltip]="'admin.jobTemplate.tooltips.save' | translate" (click)="save()">
        {{ 'common.action.save' | translate }}
      </button>
      <button mat-raised-button [matTooltip]="'admin.jobTemplate.tooltips.reload' | translate"  (click)="refresh()">
        {{ 'common.action.reload' | translate }}
      </button>
      <button mat-raised-button [matTooltip]="'admin.jobTemplate.tooltips.download' | translate" (click)="download()">
        {{ 'common.action.download' | translate }}
      </button>
      <button mat-raised-button color="warn" [matTooltip]="'admin.jobTemplate.tooltips.delete' | translate" (click)="delete()">
        {{ 'common.action.delete' | translate }}
      </button>
    </div>


  </div>

  <mat-form-field appearance="fill" [style.width]="'100%'">
    <mat-label>{{ 'common.label.description' | translate }}</mat-label>
    <textarea matInput type="textarea" formControlName="description"></textarea>
  </mat-form-field>


  <h2>{{ 'admin.jobTemplate.sections.transformers' | translate }}
    <button mat-mini-fab color="primary" [attr.aria-label]="'admin.jobTemplate.tooltips.addTransformer' | translate" (click)="addTransformer()">
      <mat-icon>add</mat-icon>
    </button>
  </h2>

  <table formArrayName="transformers">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>{{ 'admin.jobTemplate.columns.transformerName' | translate }}</th>
        <th>{{ 'common.label.parameters' | translate }}</th>
      </tr>
    </thead>
    @for (t of transformers.controls; track t; let i = $index) {
      <tr [formGroup]="t">
        <td [style.padding-bottom]="'25px'" [style.width]="'250px'">
          <button mat-icon-button [matTooltip]="'admin.jobTemplate.tooltips.moveUp' | translate" (click)="moveTransformer(i, i - 1)"><mat-icon>arrow_upward</mat-icon></button>
          <button mat-icon-button [matTooltip]="'admin.jobTemplate.tooltips.moveDown' | translate"  (click)="moveTransformer(i, i + 1)"><mat-icon>arrow_downward</mat-icon></button>
          <button mat-icon-button [matTooltip]="'admin.jobTemplate.tooltips.edit' | translate" color="primary" (click)="editTransformer(i)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button [matTooltip]="'admin.jobTemplate.tooltips.remove' | translate" color="warn" (click)="removeTransformer(i)"><mat-icon>delete</mat-icon></button>
        </td>
        <td [style.min-width]="'300px'">
          <mat-form-field appearance="fill" [style.width]="'100%'">
            <mat-select formControlName="type">
              @for (type of this.transformerTypes(); track type) {
                <mat-option [value]="type">
                  {{type}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </td>
        <td [style.color]="'#888888'">
          {{stringForAttributes(t)}}
        </td>
      </tr>
    }
  </table>
</form>