<h1 mat-dialog-title>Create Entity Mapping </h1>
<div mat-dialog-content>
  <form [formGroup]="formControl">
    <mat-form-field appearance="fill" [style.width]="'80%'">
      <mat-label>Name</mat-label>
      <input matInput type="text" required formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'20%'">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let format of (mappingFormats | async)" [value]="format">
          {{format}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'100%'">
      <mat-label>Description</mat-label>
      <textarea matInput  formControlName="description"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="save()">Save</button>
</div>