<h1 mat-dialog-title>{{ 'admin.addParticipant.title' | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="formControl">
    <mat-form-field appearance="fill" [style.width]="'100%'">
      <mat-label>{{ 'common.label.name' | translate }}</mat-label>
      <input matInput type="text" required formControlName="name">
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="save()">{{ 'common.action.save' | translate }}</button>
</div>
