<h1 mat-dialog-title>Create Entity Mapping </h1>
<div mat-dialog-content>
  <form [formGroup]="formControl">
    <mat-form-field appearance="fill" [style.width]="'50%'">
      <mat-label>Name</mat-label>
      <input matInput type="text" required formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'10%'">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of (types | async)" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'20%'">
      <mat-label>Participant</mat-label>
      <mat-select formControlName="participantName">
        <mat-option *ngFor="let participant of (participants | async)" [value]="participant">
          {{participant}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="startAutomatically">
      Start automatically
    </mat-checkbox>

    <mat-form-field appearance="fill" [style.width]="'100%'">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'50%'">
      <mat-label>Entity Mapping</mat-label>
      <mat-select formControlName="entityMappingName">
        <mat-option *ngFor="let mapping of (mappings | async)" [value]="mapping.name">
          {{mapping.name}} ({{mapping.type}})
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'50%'">
      <mat-label>Apache Solr Config</mat-label>
      <mat-select formControlName="solrConfigName">
        <mat-option *ngFor="let config of (solr | async)" [value]="config.name">
          {{config.name}} ({{config.server}})
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="save()">Save</button>
</div>