<h1 mat-dialog-title>{{ 'admin.addJobTemplate.title' | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="formControl">
    <mat-form-field appearance="fill" [style.width]="'50%'">
      <mat-label>{{ 'common.label.name' | translate }}</mat-label>
      <input matInput type="text" required formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'10%'">
      <mat-label>{{ 'common.label.type' | translate }}</mat-label>
      <mat-select formControlName="type">
        @for (type of this.types(); track type) {
          <mat-option [value]="type">
            {{type}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'20%'">
      <mat-label>{{ 'common.label.participant' | translate }}</mat-label>
      <mat-select formControlName="participantName">
        @for (participant of this.participants(); track participant) {
          <mat-option [value]="participant">
            {{participant}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="startAutomatically">
      {{ 'admin.addJobTemplate.labels.startAutomatically' | translate }}
    </mat-checkbox>

    <mat-form-field appearance="fill" [style.width]="'100%'">
      <mat-label>{{ 'common.label.description' | translate }}</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'50%'">
      <mat-label>{{ 'admin.addJobTemplate.labels.entityMapping' | translate }}</mat-label>
      <mat-select formControlName="mapping">
        @for (mapping of this.mappings(); track mapping) {
          <mat-option [value]="mapping">
            {{mapping.name}} ({{mapping.type}})
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'50%'">
      <mat-label>{{ 'admin.addJobTemplate.labels.solrConfig' | translate }}</mat-label>
      <mat-select formControlName="config">
        @for (config of this.solr(); track config) {
          <mat-option [value]="config">
            {{config.name}} ({{config.server}})
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="save()">{{ 'common.action.save' | translate }}</button>
</div>
