<h1 mat-dialog-title>Create Job Template</h1>
<div mat-dialog-content>
  <form [formGroup]="formControl">
    <mat-form-field appearance="fill" [style.width]="'50%'">
      <mat-label>Name</mat-label>
      <input matInput type="text" required formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'10%'">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        @for (type of (types | async); track type) {
          <mat-option [value]="type">
            {{type}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'20%'">
      <mat-label>Participant</mat-label>
      <mat-select formControlName="participantName">
        @for (participant of (participants | async); track participant) {
          <mat-option [value]="participant">
            {{participant}}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-checkbox formControlName="startAutomatically">
      Start automatically
    </mat-checkbox>

    <mat-form-field appearance="fill" [style.width]="'100%'">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'50%'">
      <mat-label>Entity Mapping</mat-label>
      <mat-select formControlName="entityMappingName">
        @for (mapping of (mappings | async); track mapping) {
          <mat-option [value]="mapping.name">
            {{mapping.name}} ({{mapping.type}})
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'50%'">
      <mat-label>Apache Solr Config</mat-label>
      <mat-select formControlName="solrConfigName">
        @for (config of (solr | async); track config) {
          <mat-option [value]="config.name">
            {{config.name}} ({{config.server}})
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" (click)="save()">Save</button>
</div>