<div id="content">
  <mat-card [style.width]="'22.5%'">
    <mat-card-header>
      <mat-card-title>Job Templates ({{(templates | async)?.length}})</mat-card-title>
      <div class="space-flexible"></div>
      <button mat-mini-fab color="primary" aria-label="Adds a new job template." (click)="addJobTemplate()" i18n-matTooltip="@@TooltipAddJobTemplate" matTooltip="Add new job template.">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        @for (template of (templates | async); track template) {
          <mat-list-item [routerLink]="['/admin/template', template.id]">
            <div [style.width]="'60%'">
              <span matListItemTitle>{{template.name}}</span>
              @if (template.description) {
                <span matListItemLine>{{template.description}}</span>
              }
              <span matListItemLine>{{template.type}}, {{template.participantName}}</span>
            </div>
          </mat-list-item>
        }
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card [style.width]="'22.5%'">
    <mat-card-header>
      <mat-card-title>Entity Mappings ({{(mappings | async)?.length}})</mat-card-title>
      <div class="space-flexible"></div>
      <button mat-mini-fab color="primary" aria-label="Adds a new entity mapping." (click)="addEntityMapping()" i18n-matTooltip="@@TooltipAddEntityMapping" matTooltip="Add new entity mapping.">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        @for (mapping of (mappings | async); track mapping) {
          <mat-list-item [routerLink]="['/admin/mapping', mapping.id]">
            <span matListItemTitle>{{mapping.name}}</span>
            @if (mapping.description) {
              <span matListItemLine>{{mapping.description}}</span>
            }
            <span matListItemLine>{{mapping.type}}</span>
          </mat-list-item>
        }
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card [style.width]="'22.5%'">
    <mat-card-header>
      <mat-card-title>Apache Solr Configurations ({{(solr | async)?.length}})</mat-card-title>
      <div class="space-flexible"></div>
      <button mat-mini-fab color="primary" aria-label="Adds a new Apache Solr configuration." (click)="addSolrConfig()" i18n-matTooltip="@@TooltipAddSolrConfig" matTooltip="Add new Apache Solr configuration.">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        @for (s of (solr | async); track s) {
          <mat-list-item [routerLink]="['/admin/solr', s.id]">
            <span matListItemTitle>{{s.name}}</span>
            @if (s.description) {
              <span matListItemLine>{{s.description}}</span>
            }
            <span matListItemLine>{{s.server}}</span>
          </mat-list-item>
        }
      </mat-list>
    </mat-card-content>
  </mat-card>


  <mat-card [style.width]="'22.5%'">
    <mat-card-header>
      <mat-card-title>Participants ({{(participant | async)?.length}})</mat-card-title>
      <div class="space-flexible"></div>
      <button mat-mini-fab color="primary" aria-label="Adds a new participant identifier." (click)="addParticipant()" i18n-matTooltip="@@TooltipAddParticipant" matTooltip="Add new participant.">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        @for (p of (participant | async); track p) {
          <mat-list-item>
            <span matListItemTitle>{{p}}</span>
          </mat-list-item>
        }
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
