<div id="content">
  <mat-card [style.width]="'25%'">
    <mat-card-header>
      <mat-card-title>Job Templates ({{(templates | async)?.length}})</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let template of (templates | async)" [style.display]="'flex'">
          <div [style.width]="'60%'">
            <span matListItemTitle>{{template.name}}</span>
            <span matListItemLine *ngIf="template.description">{{template.description}}</span>
            <span matListItemLine>{{template.type}}, {{template.participantName}}</span>
          </div>
          <div [style.width]="'30%'">
            <button mat-icon-button><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon></button>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card [style.width]="'25%'">
    <mat-card-header>
      <mat-card-title>Entity Mappings ({{(mappings | async)?.length}})</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let mapping of (mappings | async)">
          <span matListItemTitle>{{mapping.name}}</span>
          <span matListItemLine *ngIf="mapping.description">{{mapping.description}}</span>
          <span matListItemLine>{{mapping.type}}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <mat-card [style.width]="'25%'">
    <mat-card-header>
      <mat-card-title>Apache Solr Configurations ({{(solr | async)?.length}})</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let s of (solr | async)">
          <span matListItemTitle>{{s.name}}</span>
          <span matListItemLine *ngIf="s.description">{{s.description}}</span>
          <span matListItemLine>{{s.server}}</span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
