<h1 mat-dialog-title>{{ 'createJob.title' | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="formControl">
    <mat-form-field [style.width]="'100%'">
      <mat-label>{{ 'common.label.name' | translate }}</mat-label>
      <input type="text" matInput [placeholder]="'createJob.placeholder.name' | translate" formControlName="name"  />
    </mat-form-field>

    <mat-form-field [style.width]="'100%'">
      <mat-label>{{ 'common.label.template' | translate }}</mat-label>
      <mat-select formControlName="template">
        @for (template of this.templates(); track template) {
          <mat-option [value]="template">
            {{template.name}} ({{(template.type)}})
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="create()">{{ 'common.action.create' | translate }}</button>
  <button mat-flat-button (click)="close()">{{ 'common.action.close' | translate }}</button>
</div>