<form [formGroup]="formControl">

  <h1>Apache Solr Configuration (ID: {{solrId | async}})</h1>

  <div id="main" [style.display]="'flex'">
    <mat-form-field appearance="fill" [style.width]="'15%'">
      <mat-label i18n="@@LabelName">Name</mat-label>
      <input matInput type="text" required formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'15%'">
      <mat-label i18n="@@LabelServer">Server</mat-label>
      <input matInput type="url" formControlName="server">
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'15%'">
      <mat-label i18n="@@LabelPublicServer">Public Server</mat-label>
      <input matInput type="url" formControlName="publicServer">
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'10%'">
      <mat-label i18n="@@LabelUsername">Username</mat-label>
      <input matInput type="text" formControlName="username">
    </mat-form-field>

    <mat-form-field appearance="fill" [style.width]="'10%'">
      <mat-label  i18n="@@LabelPassword">Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>

    <div class="button-group" [style.margin-top]="'10px'">
      <button mat-raised-button color="primary" i18n="@@ButtonSave" matTooltip="Saves all changes made to this Apache Solr configuration." (click)="save()">
        Save
      </button>
      <button mat-raised-button i18n="@@ButtonReload" matTooltip="Reloads this Apache Solr configuration, reverting all unsaved changes."  (click)="refresh()">
        Reload
      </button>
      <button mat-raised-button matTooltip="Downloads this Apache Solr configuration as JSON." (click)="download()">
        Download
      </button>
      <button mat-raised-button color="warn"  i18n="@@ButtonDelete" matTooltip="Deletes this Apache Solr configuration." (click)="delete()">
        Delete
      </button>
    </div>
  </div>

  <mat-form-field appearance="fill" [style.width]="'100%'">
    <mat-label i18n="@@LabelDescription">Description</mat-label>
    <textarea matInput type="textarea" formControlName="description"></textarea>
  </mat-form-field>

  <h2>Image Deployments
    <button mat-mini-fab color="primary" aria-label="Adds a new image deployment." (click)="addDeployment()">
      <mat-icon>add</mat-icon>
    </button>
  </h2>

  <table formArrayName="deployments" [style.width]="'100%'">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Name</th>
        <th>Format</th>
        <th>Source</th>
        <th>Server</th>
        <th>Path</th>
        <th>Max. Size</th>
      </tr>
    </thead>
    @for (e of deployments; track e; let i = $index) {
      <tr [formGroupName]="i">
        <td [style.padding-bottom]="'25px'" [style.width]="'125px'">
          <button mat-icon-button color="warn" (click)="removeDeployment(i)"  matTooltip="Remove deployment."><mat-icon>delete</mat-icon></button>
        </td>
        <td>
          <mat-form-field appearance="fill" [style.width]="'100%'">
            <mat-label i18n="@@LabelName">Name</mat-label>
            <input matInput type="text" formControlName="name"/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" [style.width]="'100%'">
            <mat-label i18n="@@LabelFormat">Type</mat-label>
            <mat-select formControlName="format">
              @for (format of (imageFormats | async); track format) {
                <mat-option [value]="format">
                  {{format}}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" [style.width]="'100%'">
            <mat-label i18n="@@LabelSource">Source</mat-label>
            <input matInput type="text" formControlName="source"/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" [style.width]="'100%'">
            <mat-label i18n="@@LabelServer">Server</mat-label>
            <input matInput type="text" formControlName="server"/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" [style.width]="'100%'">
            <mat-label i18n="@@LabelPath">Path</mat-label>
            <input matInput type="text" formControlName="path"/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" [style.width]="'100%'">
            <mat-label i18n="@@LabelMaxSize">Max. Size</mat-label>
            <input matInput type="number" formControlName="maxSize"/>
          </mat-form-field>
        </td>
      </tr>
    }
  </table>

  <hr/>

  <h2>Collections
    <button mat-mini-fab color="primary" aria-label="Adds a new collection." (click)="addCollection()">
      <mat-icon>add</mat-icon>
    </button>
  </h2>
  <table formArrayName="collections" [style.width]="'100%'">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Display Name</th>
        <th>Name</th>
        <th>Type</th>
        <th>Selector</th>
        <th>OAI-PMH</th>
      </tr>
    </thead>
    @for (e of collections; track e; let i = $index) {
      <tr [formGroupName]="i">
        <td [style.padding-bottom]="'25px'" [style.width]="'125px'">
          <button mat-icon-button (click)="viewCollection(i)" matTooltip="View collection (opens new window)."><mat-icon>visibility</mat-icon></button>
          <button mat-icon-button color="warn" (click)="removeCollection(i)"  matTooltip="Remove collection."><mat-icon>delete</mat-icon></button>
        </td>
        <td>
          <mat-form-field appearance="fill" [style.width]="'100%'">
            <mat-label i18n="@@LabelName">Display Name</mat-label>
            <input matInput type="text" formControlName="displayName"/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" [style.width]="'100%'">
            <mat-label i18n="@@LabelName">Name</mat-label>
            <input matInput type="text" formControlName="name"/>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" [style.width]="'100%'">
            <mat-label i18n="@@LabelType">Type</mat-label>
            <select matNativeControl required formControlName="type">
              <option value="OBJECT">OBJECT</option>
              <option value="MUSEUM">MUSEUM</option>
              <option value="PERSON">PERSON</option>
              <option value="COLLECTION">COLLECTION</option>
            </select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="fill" [style.width]="'100%'">
            <mat-label i18n="@@LabelSelector">Selector</mat-label>
            <input matInput type="text" formControlName="selector"/>
          </mat-form-field>
        </td>
        <td>
          <mat-checkbox type="text" formControlName="oai"/>
        </td>
      </tr>
    }
  </table>
</form>