<header id="header">
  <mat-toolbar>
    <img src="./assets/KIMnet_Logo_pos_RGB.png" [style.height]="'50px'" alt="KIM.ch Logo"/>

    <span class="space-flexible"></span>

    @if (isViewer()) {
      <button mat-icon-button [routerLink]="['/manager/dashboard']" [matTooltip]="'toolbar.dashboard' | translate">
        <mat-icon>dashboard</mat-icon>
      </button>
    }

    @if (isAdmin()) {
      <button mat-icon-button [routerLink]="['/admin/dashboard']" [matTooltip]="'toolbar.admin' | translate">
        <mat-icon>admin_panel_settings</mat-icon>
      </button>
    }

    @if (isAdmin()) {
      <button mat-icon-button [routerLink]="['/institutions']" [matTooltip]="'toolbar.institutions' | translate">
        <mat-icon>account_balance</mat-icon>
      </button>
    }

    @if (isAdmin()) {
      <button mat-icon-button [routerLink]="['/collections']" [matTooltip]="'toolbar.collections' | translate">
        <mat-icon>category</mat-icon>
      </button>
    }

    @if (isAdmin()) {
      <button mat-icon-button [routerLink]="['/users']" [matTooltip]="'toolbar.users' | translate">
        <mat-icon>person</mat-icon>
      </button>
    }

    <span class="space-flexible"></span>

    <button mat-icon-button [matMenuTriggerFor]="languageMenu" [matTooltip]="'toolbar.language' | translate">
      <mat-icon>language</mat-icon>
    </button>

    <mat-menu #languageMenu="matMenu">
      @for (lang of languages; track lang) {
        <button mat-menu-item (click)="language.use(lang)">
          <mat-icon>{{ language.language() === lang ? 'check' : '' }}</mat-icon>
          <span>{{ 'languages.' + lang | translate }}</span>
        </button>
      }
    </mat-menu>

    @if (isLoggedIn()) {
      <button mat-button [matMenuTriggerFor]="userMenu">{{ username() }}</button>
    }

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="userProfile()">
        <mat-icon>person</mat-icon>
        <span>{{ 'toolbar.profile' | translate }}</span>
      </button>

      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>{{ 'toolbar.logout' | translate }}</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</header>

<article id="content">
  <router-outlet></router-outlet>
</article>

<footer id="footer">
  <h3>{{ 'footer.title' | translate }}</h3>
</footer>
