#page-container {
  position: relative;
  min-height: 80vh;
}

#header {
 position:absolute;
  top:0;
  left:0;
  height:64px;
  right:0;
  overflow:hidden;
}

#content {
  position:absolute;
  top:64px;
  bottom:64px;
  left:0;
  right:0;
  overflow:auto;
  padding: 25px;
}


#footer {
  background-color: darkblue;
  position:absolute;
  bottom:0;
  height:64px;
  left:0;
  right:0;
  overflow:hidden;
}