
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>KIM.ch Ingest Dashboard</span>
  <span class="space-flexible"></span>
  <button *ngIf="isLoggedIn | async" mat-icon-button [matMenuTriggerFor]="userMenu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>dialpad</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
